<div class="row" ng-cloak>
    <div class="col-md-6">
        <div data-ng-controller="cnnFeedController">
            <div class="header-block">
                <h2>CNN News</h2><i class="fa fa- fa-refresh pull-right refresh-button" ng-click="refreshFeed()"  title="Refresh"></i>
            </div>
            
            <table class="table table-striped table-hover">
                <tr ng-repeat="news in cnnFeedData">
                    <td>{{news.Title}}</td>
                </tr>
                <tr ng-if="isCnnFeedLoading"><td class="text-center"><i class="fa fa-spinner fa-spin loader-animation"></i></td></tr>
                <tr ng-if="!isCnnFeedLoading && !cnnFeedData.length"><td class="text-center"><i class="fa fa-fw fa-frown-o"></i>No News Found From CNN</td></tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div data-ng-controller="twitterFeedController">
            <div class="header-block">
                <h2>Twitter Tweets</h2><i class="fa fa- fa-refresh pull-right refresh-button" ng-click="refreshFeed()" title="Refresh"></i>
            </div>
            
            <table class="table table-striped table-hover">
                <tr ng-repeat="tweet in twitterFeedData">
                    <td>{{tweet.Text}}</td>
                </tr>
                <tr ng-if="isTwitterFeedLoading"><td class="text-center"><i class="fa fa-spinner fa-spin loader-animation"></i></td></tr>
                <tr ng-if="!isTwitterFeedLoading && !twitterFeedData.length"><td class="text-center"><i class="fa fa-fw fa-frown-o"></i>No Tweet Found From Twitter</td></tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.rootUrl = location.protocol + '//' + window.location.host;
</script>
